@model CreateBlogDto

<h2>Yeni Blog Ekle</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Kategori</label>
        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
            <option value="">Kategori Seç</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <input type="hidden" name="UserId" value="@ViewBag.UserId" />


    <button type="submit" class="btn btn-success">Kaydet</button>
</form>
