@model UpdateBlogDto

<h2>Blog Düzenle</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
@*     <input type="hidden" asp-for="UserId" /> *@
    <input type="hidden" asp-for="PublishDate" />

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label">Kategori</label>
        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
            <option value="">Kategori Seç</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
